[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".plugins/dotbot-scoop"]
	path = .plugins/dotbot-scoop
	url = https://github.com/JamJar00/dotbot-scoop.git
	ignore = dirty
[submodule ".plugins/dotbot-yay"]
	path = .plugins/dotbot-yay
	url = https://github.com/oxson/dotbot-yay
	ignore = dirty
[submodule ".plugins/dotbot-yay"]
[submodule ".plugins/dotbot-windows"]
	path = .plugins/dotbot-windows
	url = https://github.com/kurtmckee/dotbot-windows.git
	ignore = dirty
[submodule ".plugins/dotbot-golang"]
	path = .plugins/dotbot-golang
	url = https://github.com/delicb/dotbot-golang
	ignore = dirty
[submodule ".plugins/dotbot-pip"]
	path = .plugins/dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
	ignore = dirty
[submodule ".plugins/dotbot-rust"]
	path = .plugins/dotbot-rust
	url = https://github.com/alexcormier/dotbot-rust
	ignore = dirty
[submodule ".plugins/dotbot-includes"]
	path = .plugins/dotbot-includes
	url = https://github.com/vanduc2514/dotbot-includes/
	ignore = dirty
