[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".plugins/dotbot-golang"]
	path = .plugins/dotbot-golang
	url = https://github.com/delicb/dotbot-golang
